.healthbar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.health-info {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 50px; /* Erhöhen Sie den Abstand zur HealthBar */
    color: #333;
}

.healthbar-container {
    display: flex;
}

.healthbar-life {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #6aff00; /* Standardfarbe: Grün */
    border-radius: 50%;
}

.healthbar-life.active {
    background-color: #6aff00; /* Lebenspunkt: Grün */
}

.healthbar-life.lost {
    background-color: red; /* Verlorener Lebenspunkt: Rot */
}
